@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "打卡";
}
<link rel="stylesheet" href="~/Content/timer2.css">
<style>

    #showMonth td {
        height: 5rem;
    }

    .navbar {
        background-color: #3b5998;
    }

    .navbar-toggler {
        background-color: #3b5998;
    }

    .nav-link {
        color: #fff;
    }

        .nav-link:hover {
            color: black;
        }

    .nav-item + nav-link {
        color: #fff;
    }


    .item {
        color: black;
        border-bottom: 0.5px rgb(172, 172, 172) solid;
        border-top: 0.5px rgb(172, 172, 172) solid;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    .timers {
        position: absolute;
    }

    /* 下方底部欄位 */
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #3b5998;
        color: black;
        text-align: center;
    }

    /* 打卡鈕 */
    #demo3 {
        position: relative;
        font-size: 20px;
        border-radius: 20px;
        border: none;
        width: 200px;
        padding: 20px 0;
        /* 文字顏色 */
        color: #fff;
        /* 邊框樣式、顏色、寬度 */
        border: 3px solid #fff;
        text-align: center;
        display: inline-block;
        margin: 10px 50%;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: #3b5998;
    }

        #demo3:hover {
            background-color: rgb(212, 212, 212);
            color: black;
            border: 3px solid rgb(228, 226, 226);
        }

    .row-md{
        height:280px;
    }
    .row-sm {
        height: 280px;
    }
    .row-lg {
        height: 280px;
    }

</style>

<body>
    <div class="container col-12 col-md-6">
        <div class="row">
            <div class="clock">
                <div class="flip">
                    <div class="digital front" data-number="1"></div>
                    <div class="digital back" data-number="1"></div>
                </div>
                <div class="flip">
                    <div class="digital front" data-number="0"></div>
                    <div class="digital back" data-number="0"></div>
                </div><em class="divider">:</em>
                <div class="flip">
                    <div class="digital front" data-number="2"></div>
                    <div class="digital back" data-number="2"></div>
                </div>
                <div class="flip">
                    <div class="digital front" data-number="4"></div>
                    <div class="digital back" data-number="4"></div>
                </div><em class="divider">:</em>
                <div class="flip">
                    <div class="digital front" data-number="2"></div>
                    <div class="digital back" data-number="2"></div>
                </div>
                <div class="flip">
                    <div class="digital front" data-number="8"></div>
                    <div class="digital back" data-number="8"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-12 col-md-6">
        <div class="row">
            <div class="clockbtn">
                <div><button id="demo3">上班打卡</button></div>
                <div><button id="demo3">下班打卡</button></div>
            </div>
        </div>
    </div>
    
    <div>
        <script src="~/Scripts/timer2.js"></script>
        <div class="footer">
            <p> Copyright © 2021 SMIT14 team3 All right reserved. </p>
        </div>
    </div>
</body>
