@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "打卡";
}
<link rel="stylesheet" href="~/Content/timer2.css">
<style>
    .row-md{
        height:280px;
    }
    .row-sm {
        height: 280px;
    }
    .row-lg {
        height: 280px;
    }

</style>
<h1><b><打卡畫面我就沒修改囉 就用你修改後的時鐘的畫面></b></h1>
<body>
    <div class="container col-12 col-md-6">
        <div class="row">
            <div class="clock">
                <div class="flip">
                    <div class="digital front" data-number="1"></div>
                    <div class="digital back" data-number="1"></div>
                </div>
                <div class="flip">
                    <div class="digital front" data-number="0"></div>
                    <div class="digital back" data-number="0"></div>
                </div><em class="divider">:</em>
                <div class="flip">
                    <div class="digital front" data-number="2"></div>
                    <div class="digital back" data-number="2"></div>
                </div>
                <div class="flip">
                    <div class="digital front" data-number="4"></div>
                    <div class="digital back" data-number="4"></div>
                </div><em class="divider">:</em>
                <div class="flip">
                    <div class="digital front" data-number="2"></div>
                    <div class="digital back" data-number="2"></div>
                </div>
                <div class="flip">
                    <div class="digital front" data-number="8"></div>
                    <div class="digital back" data-number="8"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-12 col-md-6">
        <div class="row">
            <div class="clockbtn">
                <div><button id="demo3">上班打卡</button></div>
                <div><button id="demo3">下班打卡</button></div>
            </div>
        </div>
    </div>
    
    <div>
        <script src="~/Scripts/timer2.js"></script>
        <div class="footer">
            <p> Copyright © 2021 SMIT14 team3 All right reserved. </p>
        </div>
    </div>
</body>
