@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "請假單申請";
}

<body>
    <br>
    <div class="container-sm">
        <div class="container">
            <div class="row">
                <div class="dayoffpage1 col-12">
                    <div class="item">
                        <p style="font-size: x-large;"><b><u>請假單申請</u></b></p>
                        <br>
                    </div>
                    <div class="row">
                        <div class="dayoffpage1 col-12 col-md-6">
                            <p>
                                <label for="userID"><b>員工編號 :</b></label>
                                <input type='text' class='whenToSet' id="userID">
                            </p>
                            <p>
                                <label for="uesrName"><b>員工姓名 :</b></label>
                                <input type='text' class='whenToSet' id="uesrName">
                            </p>
                            <p>
                                <label for="datestart"><b>開始請假日期 :</b></label>
                                <input class="choosedate" id="datestart" type="datetime-local" required>
                                <br><small>最小請假時單位為1小時，以整點、30分始計算</small>
                            </p>
                            <p>
                                <label for="dateend"><b>結束請假日期 :</b></label>
                                <input class="choosedate" id="dateend" type="datetime-local" required>
                            </p>
                            <p>
                                <b>總共請假時數 : 系統自動計算?</b>
                            </p>
                            <p>
                                <label><b>請假類別 : </b></label>
                                <select class="selectday">
                                    <option>請選擇請假類別</option>
                                    <option>特休假(特休剩3天)</option>
                                    <option>病假</option>
                                    <option>事假</option>
                                    <option>公假</option>
                                    <option>生理假</option>
                                    <option>喪假</option>
                                </select>
                            </p>
                        </div>
                        <div class="dayoffpage1 col-12 col-md-6">
                            <p>
                                <label for="reason"><b>請假事由 :</b></label>
                                <input type='text' class='whyToSet' id="reason" required>
                            </p>
                            <p>
                                <label for="reason"><b>相關資料上傳 :</b></label>
                                <br><small>可以不附檔 ( 一次只能上傳一份，僅限jpg或png檔案 ) </small>
                            </p>
                            <!-- 選擇檔案上傳start -->
                            <input id="FileUp" class="FileUp" type="file" name="ff" style="display:none">
                            <span class="FileUpBtn">選擇檔案</span>
                            <spal class="FileUpFileName">未選擇檔案</spal>
                            <!-- 上傳檔案預覽開始 -->
                            <div>
                                <img class="preview" style="max-width: 150px; max-height: 150px;">
                                <div class="size"></div>
                            </div>
                            <!-- 上傳檔案預覽結束 -->
                            <div><button id="demo3">送出申請</button></div>
                            <script>
                                //觸發原本上傳按鈕
                                $('.FileUpBtn').click(function () {
                                    document.getElementById("FileUp").click();
                                    //$("#xyzFileUp").click();
                                });
                                //顯示上傳檔案檔名
                                $(".FileUp").on("change", function () {
                                    var filePath = $(this).val();
                                    var arr = filePath.split('\\');
                                    var fileName = arr[arr.length - 1];
                                    $(".FileUpFileName").html(fileName);
                                });
                            </script>
                            <!-- 上傳檔案預覽js end -->
                            <br>
                            <br><br><br><br><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>



</body>
<script>
    $(function () {

        function format_float(num, pos) {
            var size = Math.pow(10, pos);
            return Math.round(num * size) / size;
        }

        function preview(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.preview').attr('src', e.target.result);
                    var KB = format_float(e.total / 1024, 2);
                    $('.size').text("檔案大小：" + KB + " KB");
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("body").on("change", ".FileUp", function () {
            preview(this);
        })

    })</script>