@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/erropage.css">
<body>

    <div class="container col-12">
        <div class="erropage ">
            <h1 type="text">輸入的網址不存在</h1>
            <h2 type="text">請於網頁跳轉後登入</h2>
        </div>

        <div class="loader">
            <div class="loading-3">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
        </div>
    </div>

    <a href="#" class="return" onclick="changecolor()">
        <div class="button col-12" style="text-align: center;">回去上一頁</div>
    </a>


</body>